.inputBox {
    display: flex;
    width: 25%;
}
.input {
    /* justify-content:center; */
    display: flex;
    width: 50%;
    align-items: flex-start;
}
.label {
    /* justify-content:center; */
    width: 50%;
}

.error {
    width: 100%;
    font-size: smaller;
    color: red;
}