.card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 180px;
    height: 260px;
    border-radius: 15px;
    background-color:lightsteelblue;
    opacity: 0.8;
    margin: 0.5px;
    margin: 1em 1em 0em;
}

.image {
    width: 100px;
    height: 100px;
    margin:auto;
}